
html {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
}

h2, th {
    color: rgb(24, 136, 173);
}

.form,.container,.container-inferior, div {
    background-color: rgb(175, 175, 175);
    padding: 5px;
}

.container, .container-inferior {
    display: flex;
    flex-direction: row;
    margin: 25px;
    padding-bottom: 20px
}





